---
layout: page
---
<div class="caption">
    Tokyo, Japan / Kyoto, Japan / Kamakura, Japan<br>
    July 2023
</div>
<div class="row">
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/tokyo.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/kyoto.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/train1.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/train2.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/fuji.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/train4.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<br>

<div class="caption">
    Seattle, WA<br>
    July 2022
</div>
<br>

<div class="caption">
    Boston, MA / Cambridge, MA / Revere, MA<br>
    Mar 2022
</div>
<br>

<div class="caption">
    Suzhou, China<br>
    2021
</div>
<div class="row">
    <div class="row justify-content-center">
        <div class="col-6">
            {% include figure.html path="assets/img/suzhou.jpg" title="" class="img-fluid z-depth-1" %}
        </div>
    </div>
</div>
<br>

<div class="caption">
    Shanghai, China<br>
    2020
</div>
<div class="row">
    <div class="row justify-content-center">
        <div class="col-10">
            {% include figure.html path="assets/img/shanghai.JPG" title="" class="img-fluid z-depth-1" %}
        </div>
    </div>
</div>
<br>

<div class="caption">
    🏠 Beijing, China<br>
    2020
</div>
<div class="row">
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/beijing.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/beijing2.JPG" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
