---
layout: page
---
<div class="caption">
    Tokyo, Japan / Kyoto, Japan / Kamakura, Japan<br>
    2023
</div>
<div class="row justify-content-center">
    <div class="col-5">
        {% include figure.html path="assets/img/tokyo.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-5">
        {% include figure.html path="assets/img/kyoto.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-5">
        {% include figure.html path="assets/img/train1.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-5">
        {% include figure.html path="assets/img/fuji.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-5">
        {% include figure.html path="assets/img/train2.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-5">
        {% include figure.html path="assets/img/train4.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<br>

<div class="caption">
    Seattle, WA<br>
    2022
</div>
<div class="row justify-content-center">
    <div class="col-5">
        {% include figure.html path="assets/img/seattle1.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-5">
        {% include figure.html path="assets/img/seattle2.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-8">
        {% include figure.html path="assets/img/seattle3.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<br>

<div class="caption">
    Washington, D.C.<br>
    2022
</div>
<div class="row">
    <div class="col-8">
        {% include figure.html path="assets/img/dc1.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-4">
        {% include figure.html path="assets/img/dc2.jpeg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<br>

<div class="caption">
    Boston, MA / Revere, MA / Cambridge, MA<br>
    2022
</div>
<div class="row align-items-center">
    <div class="col">
        {% include figure.html path="assets/img/boston2.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col">
        {% include figure.html path="assets/img/boston1.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col">
        {% include figure.html path="assets/img/boston3.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<br>

<div class="caption">
    San Diego, CA<br>
    2021
</div>
<div class="row justify-content-center">
    <div class="col-9">
        {% include figure.html path="assets/img/sd.JPG" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<br>

<div class="caption">
    Suzhou, China | 苏州<br>
    2021
</div>
<div class="row justify-content-center">
    <div class="col-6">
        {% include figure.html path="assets/img/suzhou1.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-6">
        {% include figure.html path="assets/img/suzhou2.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-10">
        {% include figure.html path="assets/img/suzhou3.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<br>

<div class="caption">
    🏠 Beijing, China | 北京<br>
    2020 - 2021
</div>
<div class="row justify-content-center">
    <div class="col-10">
        {% include figure.html path="assets/img/beijing5.JPG" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-5">
        {% include figure.html path="assets/img/beijing3.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
    <div class="col-5">
        {% include figure.html path="assets/img/beijing4.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-10">
        {% include figure.html path="assets/img/beijing.jpg" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-10">
        {% include figure.html path="assets/img/beijing2.JPG" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
<br>

<div class="caption">
    Shanghai, China | 上海<br>
    2020
</div>
<div class="row justify-content-center">
    <div class="col-11">
        {% include figure.html path="assets/img/shanghai.JPG" title="" class="img-fluid z-depth-1" %}
    </div>
</div>
